apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-monitor
  labels:
    app: service-monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-monitor
  template:
    metadata:
      labels:
        app: service-monitor
    spec:
      serviceAccountName: service-monitor
      containers:
      - name: service-monitor
        image: docker.ethquokkaops.io/ethquokkaops/ethdevops/k8s-service-trigger:{{ .Values.imageVersion }}
        imagePullPolicy: Always
        env:
        - name: SEMAPHORE_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secretName }}
              key: {{ .Values.secretKey }}
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-config
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: tmp
          mountPath: /tmp
      volumes:
      - name: tmp
        emptyDir: {}
