{{- if eq .Values.credentials.method "secret" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "jitsi-recording-uploader.secretName" . }}
  labels:
    {{- include "jitsi-recording-uploader.labels" . | nindent 4 }}
type: Opaque
stringData:
  GOOGLE_CLIENT_ID: {{ .Values.credentials.googleDrive.clientId | quote }}
  GOOGLE_CLIENT_SECRET: {{ .Values.credentials.googleDrive.clientSecret | quote }}
  GOOGLE_REFRESH_TOKEN: {{ .Values.credentials.googleDrive.refreshToken | quote }}
{{- end }}
