{{- if not .Values.postgres.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-postgres-secret
type: Opaque
data:
  postgres-password: {{ .Values.postgres.password | b64enc | quote }}
{{- end }}
