{{- if .Values.enableArchive }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-archive-config
data:
  config.json: |
    {
      "default_branch": "main",
      "commit_batch_size": 50,
      "servers": {
        {{- $servers := .Values.archiveServers }}
        {{- range $index, $server := $servers }}
        "{{ $server.server }}": {
          "enabled": true,
          "repo_url": "{{ $server.repo }}",
          "branch": "{{ $server.branch }}",
          "allowed_categories": [],
          "excluded_channels": [],
          "include_attachments": true
        }{{- if lt (add $index 1) (len $servers) }},{{- end }}
        {{- end }}
      }
    }
{{- end }}
