apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Release.Name }}-job
spec:
  schedule: "{{ .Values.backupSchedule }}"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: {{ .Release.Name }}-bot
              image: docker.ethquokkaops.io/ethquokkaops/ethdevops/efdiscordbackupbot:{{ .Values.imageTag }}
              volumeMounts:
                - name: {{ .Release.Name }}-sign-secret-vol
                  mountPath: /var/sign-secret
                  readOnly: true
                - name: {{ .Release.Name }}-pgp-keys-vol
                  mountPath: /var/keys
                  readOnly: true
                {{- if .Values.enableArchive }}
                - name: {{ .Release.Name }}-git-repos
                  mountPath: /var/git-clones
                - name: {{ .Release.Name }}-archive-config
                  mountPath: /etc/archive_config.json
                  subPath: config.json 
                {{- end }}
              envFrom:
                - configMapRef:
                    name: {{ .Release.Name }}-bot-config
                - secretRef:
                    name: {{ .Release.Name }}-sensitive-config
          restartPolicy: OnFailure
          volumes:
            - name: {{ .Release.Name }}-sign-secret-vol
              secret:
                secretName: {{ .Release.Name }}-sign-key
            - name: {{ .Release.Name }}-pgp-keys-vol
              secret:
                secretName: {{ .Release.Name }}-pgp-keys
            {{- if .Values.enableArchive }}
            - name: {{ .Release.Name }}-git-repos
              emptydir: {}
            - name: {{ .Release.Name }}-archive-config
              configMap:
                name: {{ .Release.Name }}-archive-config 
            {{- end }}
