apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-sign-key
type: Opaque
stringData:
  private_key.pem: |
    -----BEGIN PRIVATE KEY-----
    {{ .Values.signingPrivateKey }}
    -----END PRIVATE KEY-----
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-sensitive-config
type: Opaque
stringData:
  S3_ACCESS_KEY: "{{ .Values.s3AccessKey }}"
  S3_SECRET_KEY: "{{ .Values.s3SecretKey }}"
  DISCORD_TOKEN: "{{ .Values.discordToken }}"
  GITHUB_TOKEN: "{{ .Values.githubToken }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-pgp-keys
type: Opaque
stringData:
{{- range $key, $value := .Values.pgpKeys }}
  {{ $key }}: {{ $value | toYaml | indent 2 }}
{{- end }}
