apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-keycloak-adapter-config
data:
  KEYCLOAK_ORIGIN: "{{ .Values.keycloak_adapter.keycloak_url }}"
  KEYCLOAK_REALM: "{{ .Values.keycloak_adapter.keycloak_realm }}"
  KEYCLOAK_CLIENT_ID: "{{ .Values.keycloak_adapter.keycloak_client_id }}"
  JWT_EXP_SECOND: "{{ .Values.auth.jwtExpSeconds }}"
  ALLOW_UNSECURE_CERT: "true"
  DEBUG: "{{ .Values.keycloak_adapter.enableDebug }}"
  ALLOWED_DOMAINS: "{{ .Values.keycloak_adapter.allowedDomains | join "," }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-keycloak-adapter-permissions
data:
  permissions.json: |
    {{ .Values.keycloak_adapter.roomPermissions | toJson }}
