{{- if and .Values.enableAuth (not .Values.auth.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "call-nested" (list . "prosody" "prosody.fullname") }}-auth
  labels:
    {{- include "jitsi-meet.labels" . | nindent 4 }}
type: Opaque
data:
  JWT_APP_ID: '{{ .Values.auth.jwtAppId | b64enc }}'
  JWT_APP_SECRET: '{{ .Values.auth.jwtAppSecret | b64enc }}'
{{- end }}
