apiVersion: v2
name: github-runner-manager
description: Managed self-hosted runners for GitHub
type: application

version: 1.3.0

# App metadata
appVersion: "v0.0.1"

dependencies:
- name: postgresql
  #version: ">0.0.0-0"
  #repository: file://../postgresql
  version: "1.1.3"
  repository: https://ethdevops.github.io/helm-charts
  condition: postgresql.enabled

sources:
  - https://github.com/EthDevOps/github-actions-autoscaler
maintainers:
  - name: elasticroentgen
    email: markus.keil@ethereum.org

